extends ../layouts/Main
block scripts
    script(src="Emr.js")
block content

    ul.breadcrumbs2
        li
            a(href="../main/Main.html")
                span.icon.mif-home
        li
            a(href="../main/Main.html") การให้บริการ
        li
            a(href="#") CLOUD EMR

    .gl#loading(style="display: none;")
        .gl-cell
            div(data-role="preloader", data-type="metro", data-style="dark", style="margin: auto")
    .gl
        .gl-cell.gl-md-4(style="padding-right: 10px;")
            .panel.collapsible(data-role="panel")
                .heading
                    span.icon.mif-home
                    span.title ข้อมูลผู้รับบริการ
                .content
                    p
                        strong CID: &nbsp;
                        span#txtCID
                    p
                        strong ชื่อ: &nbsp;
                        span#txtFullname
                    p
                        strong วันเกิด: &nbsp;
                        span#txtBirth
                    p
                        strong อายุ: &nbsp;
                        span#txtAge
                        | &nbsp; (ปี)
                        strong &nbsp;เพศ: &nbsp;
                        span#txtSex
            .panel.collapsible(data-role="panel")
                .heading
                    span.icon.mif-home
                    span.title ประวัติ (EMR)
                .content(style="background-color: white; padding: 0px;")
                    table.table.hovered.striped.dataTable#tblHistory

        .gl-cell.gl-md-8
            .tabcontrol
                ul.tabs
                    li
                        a(href="#tabService") ข้อมูลรับบริการ
                    li
                        a(href="#tabDiagnosis") การวินิจฉัย
                    li
                        a(href="#tabProcedure") หัตถการ
                    li
                        a(href="#tabDrugs") เวชภัณฑ์
                    li
                        a(href="#tabCharges") ค่าใช้จ่าย
                    li
                        a(href="#tabLabs") ผลตรวจห้องปฏิบัติการ
                .frames
                    .frame#tabService
                        br
                        .gl
                            .gl-cell.gl-md-2
                                label วันที่
                                .input-control.text.full-size
                                    input(type="text", disabled="disabled")#txtDateServ
                            .gl-cell.gl-md-2
                                label เวลา
                                .input-control.text.full-size
                                    input(type="text", disabled="disabled")#txtTimeServe
                            .gl-cell.gl-md-8
                                label โรงพยาบาล
                                .input-control.text.full-size
                                    input(type="text", disabled="disabled")#txtHospital
                        .gl
                            .gl-cell.gl-md-4
                                label ความดัน
                                .input-control.text.full-size
                                    input(type="text", disabled="disabled")#txtBP
                            .gl-cell.gl-md-4
                                label น้ำหนัก (กก.)
                                .input-control.text.full-size
                                    input(type="text", disabled="disabled")#txtWeight
                            .gl-cell.gl-md-4
                                label ส่วนสูง (ซม.)
                                .input-control.text.full-size
                                    input(type="text", disabled="disabled")#txtHeight
                        .gl
                            .gl-cell
                                label มาด้วยอาการ
                                .input-control.text.full-size
                                    input(type="text", disabled="disabled")#txtCC


                    .frame#tabDiagnosis
                        table.table.striped.hovered.dataTable#tblDiagnosis
                    .frame#tabProcedure
                        table.table.striped.hovered.dataTable#tblProcedures
                    .frame#tabDrugs
                        table.table.striped.hovered.dataTable#tblDrugs
                    .frame#tabCharges
                        table.table.striped.hovered.dataTable#tblCharges
                    .frame#tabLabs
                        table.table.striped.hovered.dataTable#tblLabs
