extends ../layouts/Main

block scripts
  script(src="Settings.js")

block content
  ul.breadcrumbs2
    li
      a(href="../main/Main.html")
        span.icon.mif-home
    li
      a(href="../main/Main.html") การให้บริการ
    li
      a(href="#") กำหนดค่าการเชื่อมต่อ

  .grid
      .row
        .cell.padding10
          h1
            | Connection setting
            small &nbsp; เชื่อมต่อฐานข้อมูล
          hr.bg-green
  .flex-grid
      .row
        .cell.size6
          .flex-grid
            .row
              .cell.size10
                label ที่อยู่เครื่องแม่ (Host)
                .input-control.text.full-size
                  input(type="text")#txtHost
              .cell.size2
                label พอร์ต (Port)
                .input-control.text.full-size
                  input(type="number")#txtPort
      .row
        .cell.size6
          label ฐานข้อมูล (Database)
          .input-control.text.full-size
            input(type="text")#txtDatabase
        .cell.colspan3 &nbsp;

      .row
        .cell.size6
          .flex-grid
            .row
              .cell.size6
                label ชื่อผู้ใช้งาน (Username)
                .input-control.text.full-size
                  input(type="text")#txtUsername
              .cell.size6
                label รหัสผ่าน (Password)
                .input-control.text.full-size
                  input(type="password")#txtPassword
                  
      .row
        .cell.size6
          .flex-grid
            .row
              .cell.size12
                label อัปโหลด URL
                .input-control.text.full-size
                  input(type="text")#txtUploadUrl
      .row
        .cell.size6
          button#btnSave.button.success บันทึก 
          | &nbsp;
          a(href="../main/Main.html")#btnCancel.button ย้อนกลับ
