doctype
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title iEMR for HOSxP and HOSxP_PCU
    link(rel="stylesheet", href="../../vendor/metro/build/css/metro.min.css")
    link(rel="stylesheet", href="../../vendor/metro/build/css/metro-icons.min.css")
    link(rel="stylesheet", href="../css/index.css")

    script(src="../../vendor/jquery/dist/jquery.min.js")
    script(src="../../vendor/metro/build/js/metro.js")

    script(src="../js/App.js")
    script(src="../js/Config.js")
    
    block scripts
    
  body.bg-darkTeal
    div.container
      block content
